{# <div class="col-sm-9 item"> #}
    <div class="form-group row">
        <div class="col-sm-11">
            <h4>#Ordinateur</h4>
            {{ form_widget(form) }}
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-danger btn-remove">
                <i class="mdi mdi-trash-can"></i>
            </button>
        </div>
        <hr>
    </div>
{# </div> #}