{# <div class="col-sm-9 item"> #}
    <div class="form-group row">
        {{ form_label(form.libelle) }}
        <div class="col-sm-8">
            {{ form_widget(form.libelle) }}
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-danger btn-remove">
                <i class="mdi mdi-trash-can"></i>
            </button>
        </div>
    </div>
{# </div> #}